/*1*/
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: #000000;
    padding:3px;
}
/*2*/
article{
    width:75%;
    float: left;
}
/*3*/
#menuPrincipal{
    width:20%;
    float:left;
    border-radius: 90px 90px 90px 90px;
    -moz-border-radious: 90px 90px 90px 90px;
    -webkit-border-radious: 90px 90px 90px 90px;
    border:5px solid #607ea5;
    background-color: lightgray;
}
/*4*/
#lateral{
    width:20%;
    float:left;
}
/*5*/
h2{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding:3px;
}
/*6*/
.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*7*/
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: blue;
}
/*8*/
.titulo{
    text-align: center;
    font-size: xx-large;
}
/*9*/
p.aviso{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
/*10*/
p.capital::first-letter{
    float:left;
    color: #000000;
    font-family: monospace;
    font-size: 300%;
}
/*11*/
p{
    text-align: justify;
}
/*12*/
a:hover {
    color: #f00;
}
/*13*/
#footer{
    position: relative;
    bottom:0;
    width:50%;
    height: 2.5rem;
    text-align: center
}
/*14*/
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
/*15*/
p.footer{
    text-align: center;
}
/*16*/
h3{
    font-family: 'Times New Roman', Times, serif;
    text-decoration-color: #0083c0; 
    color: black;
    font-size: xx-large;
    text-align: center;
}
/*17*/
.logoImg{
    width:100%;
    height: 600px;
    background-size: 100% 100%;
    border: 1px;
}
/*18*/
h3.aviso{
    color:red;
}
/*19*/
p.lateralPa{
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}
/*20*/
marquee{
    behavior: alternate;
    color: #f00;
    font-size: x-large;
}
/*21*/
body.segundaPagina{
    background-color: #bbc3ce;
}
/*22*/
p.capitalCh::first-letter{
    float:left;
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
}
/*23*/
p.referenciasLateral{
    font-style: italic;
    color: #000000;
}
/*24*/
img.parrafo2{
    display: block;
    width:100%;
    height:auto;
}
/*25*/
img.parrafo1{
    display: block;
    width:50%;
    height: auto;
}
/*26*/
section{
    color:#000000;
}/*27*/
nav{
    width:20%;
}
/*28*/
a{
    font-size: 1pc;
}
/*29*/
span{
    color: #000000;
}
/*30*/
p.destacado{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blue;
}
/*31*/
p.mayusPq{
    font-variant: small-caps;
}
/*32*/
h1.mayusculas{
    text-transform: uppercase;
}
/*33*/
a.visitado{
    color:green;
}
/*34*/
a.activo{
    color: rebeccapurple;
}
/*35*/
p.importante{
    border-style: solid;
    border-width:5px;
    border-color: #000000;
}
/*36*/
#para1{
    text-align: justify;
    color:red;
}
/*37*/
#para2{
    font-family: Arial, Helvetica, sans-serif;
    color: #776618;
}
/*38*/
body.index{
    background: wheat;
    background-image: url("../imagenes/si.jpg");
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
}
/*39*/
body.segunda{
    background-image: url("../imagenes/si2.jpg");
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
}/*40*/
p.cursivaParrafo{
    font-style: italic;
}
/*41*/
p.negritaParrafo{
    font-weight: bold;
}
/*42*/
p.subrayado{
    text-decoration: underline;
}
/*43*/
p.primeraLetraPunteada::first-letter{
    text-decoration: underline;
}
/*44*/
h2.subrayado{
    text-decoration: underline;
}
img.cajon{
    border: solid;
    width:50%;
    height: auto;
    border-color: #f00;
}